/* global.css */
.page-title{
    font-size: 2em;
    margin-bottom: 1em;
    color: #000000;
    
    
}
.Link {
    display: inline-block;
    border: 1px solid #000000;
    padding: 0.5em 1em;
    border-radius: 6px;   
    text-decoration: none;
    font-size: 1.2em;
    color: #000000;
    margin-right: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
   
}
.Link:hover {
    background-color: #3798a7;
    color: #ffffff;
}
.header {
  display: flex;
  flex-direction: column;
  background-color: #13f9fd;
  align-items: center;
}

.header > * {
  margin-bottom: 20px;
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: 10px;
 
}
/* ProjectTable.css */
.project-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

.project-table th, .project-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.project-table th {
  background-color: #f2f2f2;
}